{#
/**
* @file
* Default theme implementation to display a block.
*
* Available variables:
* - module_path: The path to this module.
*
*
* @ingroup themeable
*/
#}
<div class="wrapper" id="wrapper-footer-innovation">
  <div class="container" id="footer-innovation">
    <div class="row">
      <div class="col">
        <div class="d-flex footer-innovation-links">
          <nav class="nav" aria-label="University Services">
            <a class="nav-link" href="https://www.asu.edu/about/locations-maps" data-ga-footer-type="internal link" data-ga-footer-section="secondary footer" data-ga-footer="maps and locations" data-ga-footer-component="">Maps and Locations</a>
            <a class="nav-link" href="https://cfo.asu.edu/applicant" data-ga-footer-type="internal link" data-ga-footer-section="secondary footer" data-ga-footer="jobs" data-ga-footer-component="">Jobs</a>
            <a class="nav-link" href="https://search.asu.edu/?search-tabs=web_dir_faculty_staff" data-ga-footer-type="internal link" data-ga-footer-section="secondary footer" data-ga-footer="directory" data-ga-footer-component="">Directory</a>
            <a class="nav-link" href="https://www.asu.edu/about/contact" data-ga-footer-type="internal link" data-ga-footer-section="secondary footer" data-ga-footer="contact asu" data-ga-footer-component="">Contact ASU</a>
            <a class="nav-link" href="https://my.asu.edu" data-ga-footer-type="internal link" data-ga-footer-section="secondary footer" data-ga-footer="my asu" data-ga-footer-component="">My ASU</a>
          </nav>
          <a class="img-link" href="https://www.asu.edu/rankings" data-ga-footer-type="internal link" data-ga-footer-section="secondary footer" data-ga-footer="#1 in the u.s. for innovation" data-ga-footer-component="">
            <img src="{{ file_url('modules/custom/asu_header/images/footer-rank.png') }}" loading="lazy" height="105" width="640" alt="Repeatedly ranked #1 on 30+ lists in the last 3 years.">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper" id="wrapper-footer-colophon">
  <div class="container" id="footer-colophon">
    <div class="row">
      <div class="col">
        <div class="footer-legal-links">
          <nav class="nav colophon" aria-label="University Legal and Compliance">
            <a class="nav-link" href="https://www.asu.edu/about/copyright-trademark" data-ga-footer-type="internal link" data-ga-footer-section="tertiary footer" data-ga-footer="copyright and trademark" data-ga-footer-component="">Copyright and Trademark</a>
            <a class="nav-link" href="https://accessibility.asu.edu/report" data-ga-footer-type="internal link" data-ga-footer-section="tertiary footer" data-ga-footer="accessibility" data-ga-footer-component="">Accessibility</a>
            <a class="nav-link" href="https://www.asu.edu/about/privacy" data-ga-footer-type="internal link" data-ga-footer-section="tertiary footer" data-ga-footer="privacy" data-ga-footer-component="">Privacy</a>
            <a class="nav-link" href="https://www.asu.edu/about/terms-of-use" data-ga-footer-type="internal link" data-ga-footer-section="tertiary footer" data-ga-footer="terms of use" data-ga-footer-component="">Terms of Use</a>
            <a class="nav-link" href="https://www.asu.edu/emergency" data-ga-footer-type="internal link" data-ga-footer-section="tertiary footer" data-ga-footer="emergency" data-ga-footer-component="">Emergency</a>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
