{#
/**
* @file
* Default theme implementation to display a block.
*
* Available variables:
* - module_path: The path to this module.
*
*
* @ingroup themeable
*/
#}
<div class="wrapper" id="wrapper-footer-innovation">
  <div class="container" id="footer-innovation">
    <div class="row">
      <div class="col">
        <div class="d-flex footer-innovation-links">
          <nav class="nav" aria-label="University Services">
            <a class="nav-link" href="https://www.asu.edu/about/locations-maps">Maps and Locations</a>
            <a class="nav-link" href="https://www.asu.edu/asujobs">Jobs</a>
            <a class="nav-link" href="https://isearch.asu.edu/">Directory</a>
            <a class="nav-link" href="https://www.asu.edu/about/contact">Contact ASU</a>
            <a class="nav-link" href="https://my.asu.edu/">My ASU</a>
          </nav>
          <a class="img-link" href="https://www.asu.edu/rankings">
            <img src="/{{ module_path }}/images/230918-ASU-2024-Repeatedly-rankednumber-one-global-footer-863x188.png" loading="lazy" height="392" width="1798" alt="Repeatedly ranked #1 in innovation (ASU ahead of MIT and Stanford), sustainability (ASU ahead of Stanford and UC Berkeley), and global impact (ASU ahead of MIT and Penn State)">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper" id="wrapper-footer-colophon">
  <div class="container" id="footer-colophon">
    <div class="row">
      <div class="col">
        <nav class="nav colophon" aria-label="University Legal and Compliance">
          <a class="nav-link" href="https://www.asu.edu/about/copyright-trademark">Copyright and Trademark</a>
          <a class="nav-link" href="https://www.asu.edu/accessibility/">Accessibility</a>
          <a class="nav-link" href="https://www.asu.edu/about/privacy">Privacy</a>
          <a class="nav-link" href="https://www.asu.edu/about/terms-of-use">Terms of Use</a>
          <a class="nav-link" href="https://www.asu.edu/emergency/">Emergency</a>
        </nav>
      </div>
    </div>
  </div>
</div>
